<div class="row">
  <div class="col-xs-3">
    <%= render 'users/info', user: current_user, book: Book.new %>
  </div>
  <div class="col-xs-9">
    <%= render 'users/list', users: @users %>
  </div>
</div>
