<div class="row">
  <div class="col-xs-3">
    <%= render 'users/info', user: @user, book: Book.new %>
  </div>
  <div class="col-xs-9">
    <%= render 'books/list', books: @user.books %>
  </div>
</div>

