<%# Error messages %>
<% if @book.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h3>

    <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%# /Error messages %>
<div class="row">
  <div class="col-xs-3">
    <%= render 'users/info', user: current_user, book: @book %>
  </div>
  <div class="col-xs-9">
    <%= render 'books/list', books: @books %>
  </div>
</div>

