// Base style
@import "base";

// CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// Custom
header {
  color: white
}

header .navbar-left span {
  font-size: 20px;
  padding-top: 10px
}

.body {
  margin-top: 51px
}